<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lottery.orm.dao.LotteryRoomMapper" >
  <resultMap id="BaseResultMap" type="com.lottery.orm.bo.LotteryRoom" >
    <id column="RMID" property="rmid" jdbcType="INTEGER" />
    <result column="SID" property="sid" jdbcType="INTEGER" />
    <result column="ROOMID" property="roomid" jdbcType="INTEGER" />
    <result column="ROOMNUMBER" property="roomnumber" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="PlayerResultMap" type="com.lottery.orm.dto.LotteryRoomPlayerDto" >
    <id column="RMID" property="rmid" jdbcType="INTEGER" />
    <result column="SID" property="sid" jdbcType="INTEGER" />
    <result column="ROOMID" property="roomid" jdbcType="INTEGER" />
    <result column="ROOMNUMBER" property="roomnumber" jdbcType="INTEGER" />
    <result column="COUNT" property="count" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    RMID, SID, ROOMID, ROOMNUMBER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lottery_room
    where RMID = #{rmid,jdbcType=INTEGER}
  </select>

  <select id="selectLotteryGameRoom" resultMap="PlayerResultMap" >
   SELECT DISTINCT(a.rmid),a.sid,a.roomid,a.roomnumber,IF(ISNULL(d.count),0,d.count) AS COUNT FROM lottery_room a LEFT JOIN 
   (SELECT b.sid, b.rmid,COUNT(distinct accountid) AS COUNT FROM lottery_game_order b WHERE 
   b.lotteryterm = (SELECT lotteryterm FROM LOTTERY_game_round where sid =#{sid,jdbcType=INTEGER}  ORDER BY opentime DESC LIMIT 1) 
   AND b.sid = #{sid,jdbcType=INTEGER}  
   group by rmid) d
   ON (a.sid = d.sid AND a.rmid = d.rmid)
   WHERE a.sid =#{sid,jdbcType=INTEGER} and length(a.rmid) = #{len,jdbcType=INTEGER}  ORDER BY rmid
  </select>  
  
  <select id="selectLotteryRoomCount" resultMap="PlayerResultMap" >
  SELECT IFNULL(b.roomnumber,0) AS roomid,a.sid, a.rmid,COUNT(DISTINCT accountid) AS COUNT FROM lottery_game_order a 
  RIGHT JOIN 
  lottery_room b ON a.rmid=b.rmid
  WHERE 
  a.sid= #{sid,jdbcType=INTEGER}  AND 
  a.lotteryterm = #{lotteryterm,jdbcType=VARCHAR} AND a.rmid = #{rmid,jdbcType=INTEGER}
  </select> 
  
  <select id="selectDistinctSid"  resultMap="BaseResultMap" >
    SELECT rmid,sid,roomid,roomnumber FROM lottery_room WHERE LENGTH(rmid)=8 and sid = #{sid,jdbcType=INTEGER} LIMIT 0,2
  </select>
  
  <select id="selectDistinctSysSid"  resultMap="BaseResultMap" >
    SELECT rmid,sid,roomid,roomnumber FROM lottery_room WHERE LENGTH(rmid)=7 and sid = #{sid,jdbcType=INTEGER} and roomid between (#{first,jdbcType=INTEGER}) and (#{second,jdbcType=INTEGER})
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lottery_room
    where RMID = #{rmid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lottery.orm.bo.LotteryRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="rmid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into lottery_room (SID, ROOMID, ROOMNUMBER
      )
    values (#{sid,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, #{roomnumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lottery.orm.bo.LotteryRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="rmid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into lottery_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="roomid != null" >
        ROOMID,
      </if>
      <if test="roomnumber != null" >
        ROOMNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null" >
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="roomnumber != null" >
        #{roomnumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lottery.orm.bo.LotteryRoom" >
    update lottery_room
    <set >
      <if test="sid != null" >
        SID = #{sid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null" >
        ROOMID = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="roomnumber != null" >
        ROOMNUMBER = #{roomnumber,jdbcType=INTEGER},
      </if>
    </set>
    where RMID = #{rmid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lottery.orm.bo.LotteryRoom" >
    update lottery_room
    set SID = #{sid,jdbcType=INTEGER},
      ROOMID = #{roomid,jdbcType=INTEGER},
      ROOMNUMBER = #{roomnumber,jdbcType=INTEGER}
    where RMID = #{rmid,jdbcType=INTEGER}
  </update>
</mapper>