<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.orm.dao.LotteryOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.lottery.orm.bo.LotteryOrderDetail">
    <id column="ORDERID" jdbcType="INTEGER" property="orderid" />
    <id column="ITEMNO" jdbcType="VARCHAR" property="itemno" />
    <result column="ITEMSCALE" jdbcType="DOUBLE" property="itemscale" />
    <result column="ITEMBONUS" jdbcType="DOUBLE" property="itembonus" />
    <result column="DETAILAMOUNT" jdbcType="DOUBLE" property="detailamount" />
    <result column="PRIZEAMOUNT" jdbcType="DOUBLE" property="prizeamount" />
    <result column="ACTUALAMOUNT" jdbcType="DOUBLE" property="actualamount" />
    <result column="RETURNAMOUNT" jdbcType="DOUBLE" property="returnamount" />
  </resultMap>
  <sql id="Base_Column_List">
    ORDERID, ITEMNO, ITEMSCALE, ITEMBONUS, DETAILAMOUNT, PRIZEAMOUNT, ACTUALAMOUNT, RETURNAMOUNT
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.lottery.orm.bo.LotteryOrderDetailKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lottery_order_detail
    where ORDERID = #{orderid,jdbcType=INTEGER}
      and ITEMNO = #{itemno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lottery.orm.bo.LotteryOrderDetailKey">
    delete from lottery_order_detail
    where ORDERID = #{orderid,jdbcType=INTEGER}
      and ITEMNO = #{itemno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lottery.orm.bo.LotteryOrderDetail">
    insert into lottery_order_detail (ORDERID, ITEMNO, ITEMSCALE, 
      ITEMBONUS, DETAILAMOUNT, PRIZEAMOUNT, 
      ACTUALAMOUNT, RETURNAMOUNT)
    values (#{orderid,jdbcType=INTEGER}, #{itemno,jdbcType=VARCHAR}, #{itemscale,jdbcType=DOUBLE}, 
      #{itembonus,jdbcType=DOUBLE}, #{detailamount,jdbcType=DOUBLE}, #{prizeamount,jdbcType=DOUBLE}, 
      #{actualamount,jdbcType=DOUBLE}, #{returnamount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.lottery.orm.bo.LotteryOrderDetail">
    insert into lottery_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        ORDERID,
      </if>
      <if test="itemno != null">
        ITEMNO,
      </if>
      <if test="itemscale != null">
        ITEMSCALE,
      </if>
      <if test="itembonus != null">
        ITEMBONUS,
      </if>
      <if test="detailamount != null">
        DETAILAMOUNT,
      </if>
      <if test="prizeamount != null">
        PRIZEAMOUNT,
      </if>
      <if test="actualamount != null">
        ACTUALAMOUNT,
      </if>
      <if test="returnamount != null">
        RETURNAMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="itemno != null">
        #{itemno,jdbcType=VARCHAR},
      </if>
      <if test="itemscale != null">
        #{itemscale,jdbcType=DOUBLE},
      </if>
      <if test="itembonus != null">
        #{itembonus,jdbcType=DOUBLE},
      </if>
      <if test="detailamount != null">
        #{detailamount,jdbcType=DOUBLE},
      </if>
      <if test="prizeamount != null">
        #{prizeamount,jdbcType=DOUBLE},
      </if>
      <if test="actualamount != null">
        #{actualamount,jdbcType=DOUBLE},
      </if>
      <if test="returnamount != null">
        #{returnamount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lottery.orm.bo.LotteryOrderDetail">
    update lottery_order_detail
    <set>
      <if test="itemscale != null">
        ITEMSCALE = #{itemscale,jdbcType=DOUBLE},
      </if>
      <if test="itembonus != null">
        ITEMBONUS = #{itembonus,jdbcType=DOUBLE},
      </if>
      <if test="detailamount != null">
        DETAILAMOUNT = #{detailamount,jdbcType=DOUBLE},
      </if>
      <if test="prizeamount != null">
        PRIZEAMOUNT = #{prizeamount,jdbcType=DOUBLE},
      </if>
      <if test="actualamount != null">
        ACTUALAMOUNT = #{actualamount,jdbcType=DOUBLE},
      </if>
      <if test="returnamount != null">
        RETURNAMOUNT = #{returnamount,jdbcType=DOUBLE},
      </if>
    </set>
    where ORDERID = #{orderid,jdbcType=INTEGER}
      and ITEMNO = #{itemno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lottery.orm.bo.LotteryOrderDetail">
    update lottery_order_detail
    set ITEMSCALE = #{itemscale,jdbcType=DOUBLE},
      ITEMBONUS = #{itembonus,jdbcType=DOUBLE},
      DETAILAMOUNT = #{detailamount,jdbcType=DOUBLE},
      PRIZEAMOUNT = #{prizeamount,jdbcType=DOUBLE},
      ACTUALAMOUNT = #{actualamount,jdbcType=DOUBLE},
      RETURNAMOUNT = #{returnamount,jdbcType=DOUBLE}
    where ORDERID = #{orderid,jdbcType=INTEGER}
      and ITEMNO = #{itemno,jdbcType=VARCHAR}
  </update>
</mapper>