<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.orm.dao.SysLimitMapper">
  <resultMap id="BaseResultMap" type="com.lottery.orm.bo.SysLimit">
    <id column="SLID" jdbcType="INTEGER" property="slid" />
    <result column="GAMETYPE" jdbcType="VARCHAR" property="gametype" />
    <result column="GAMENAME" jdbcType="VARCHAR" property="gamename" />
    <result column="LIMITED" jdbcType="DECIMAL" property="limited" />
    <result column="OFFTYPE" jdbcType="VARCHAR" property="offtype" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="RATIO" jdbcType="INTEGER" property="ratio" />
  </resultMap>
  <sql id="Base_Column_List">
    SLID, GAMETYPE, GAMENAME, LIMITED, OFFTYPE, STATE, RATIO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_limit
    where SLID = #{slid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_limit
    where SLID = #{slid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lottery.orm.bo.SysLimit">
    <selectKey keyProperty="slid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_limit (GAMETYPE, GAMENAME, LIMITED, 
      OFFTYPE, STATE, RATIO
      )
    values (#{gametype,jdbcType=VARCHAR}, #{gamename,jdbcType=VARCHAR}, #{limited,jdbcType=DECIMAL}, 
      #{offtype,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{ratio,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lottery.orm.bo.SysLimit">
    <selectKey keyProperty="slid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_limit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gametype != null">
        GAMETYPE,
      </if>
      <if test="gamename != null">
        GAMENAME,
      </if>
      <if test="limited != null">
        LIMITED,
      </if>
      <if test="offtype != null">
        OFFTYPE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="ratio != null">
        RATIO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gametype != null">
        #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="gamename != null">
        #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="limited != null">
        #{limited,jdbcType=DECIMAL},
      </if>
      <if test="offtype != null">
        #{offtype,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null">
        #{ratio,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lottery.orm.bo.SysLimit">
    update sys_limit
    <set>
      <if test="gametype != null">
        GAMETYPE = #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="gamename != null">
        GAMENAME = #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="limited != null">
        LIMITED = #{limited,jdbcType=DECIMAL},
      </if>
      <if test="offtype != null">
        OFFTYPE = #{offtype,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null">
        RATIO = #{ratio,jdbcType=INTEGER},
      </if>
    </set>
    where SLID = #{slid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lottery.orm.bo.SysLimit">
    update sys_limit
    set GAMETYPE = #{gametype,jdbcType=VARCHAR},
      GAMENAME = #{gamename,jdbcType=VARCHAR},
      LIMITED = #{limited,jdbcType=DECIMAL},
      OFFTYPE = #{offtype,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      RATIO = #{ratio,jdbcType=INTEGER}
    where SLID = #{slid,jdbcType=INTEGER}
  </update>
  
   <select id="selectByOrder" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_limit
    where gametype = getGameType(#{gametype,jdbcType=VARCHAR}) and offtype= #{offtype,jdbcType=VARCHAR} and state = '1'
  </select>
  
   <select id="selectByOrderGs" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_limit
    where gametype = #{gametype,jdbcType=VARCHAR} and offtype= #{offtype,jdbcType=VARCHAR} and state = '1'
  </select>
  
   <select id="selectByLimit" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_limit
    where gametype = '01' or gametype = '02'
  </select>
</mapper>