<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.orm.dao.TSTimeTaskMapper">
  <resultMap id="BaseResultMap" type="com.lottery.orm.bo.TSTimeTask">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="CRON_EXPRESSION" jdbcType="VARCHAR" property="cronExpression" />
    <result column="IS_EFFECT" jdbcType="VARCHAR" property="isEffect" />
    <result column="IS_START" jdbcType="VARCHAR" property="isStart" />
    <result column="TASK_DESCRIBE" jdbcType="VARCHAR" property="taskDescribe" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATE_BY, CREATE_DATE, CREATE_NAME, CRON_EXPRESSION, IS_EFFECT, IS_START, TASK_DESCRIBE, 
    TASK_ID, START_TIME, UPDATE_BY, UPDATE_DATE, UPDATE_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_s_timetask
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_s_timetask
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lottery.orm.bo.TSTimeTask">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_s_timetask (CREATE_BY, CREATE_DATE, CREATE_NAME, 
      CRON_EXPRESSION, IS_EFFECT, IS_START, 
      TASK_DESCRIBE, TASK_ID, START_TIME, 
      UPDATE_BY, UPDATE_DATE, UPDATE_NAME
      )
    values (#{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR}, 
      #{cronExpression,jdbcType=VARCHAR}, #{isEffect,jdbcType=VARCHAR}, #{isStart,jdbcType=VARCHAR}, 
      #{taskDescribe,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lottery.orm.bo.TSTimeTask">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_s_timetask
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createName != null">
        CREATE_NAME,
      </if>
      <if test="cronExpression != null">
        CRON_EXPRESSION,
      </if>
      <if test="isEffect != null">
        IS_EFFECT,
      </if>
      <if test="isStart != null">
        IS_START,
      </if>
      <if test="taskDescribe != null">
        TASK_DESCRIBE,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateName != null">
        UPDATE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null">
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="isEffect != null">
        #{isEffect,jdbcType=VARCHAR},
      </if>
      <if test="isStart != null">
        #{isStart,jdbcType=VARCHAR},
      </if>
      <if test="taskDescribe != null">
        #{taskDescribe,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lottery.orm.bo.TSTimeTask">
    update t_s_timetask
    <set>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null">
        CRON_EXPRESSION = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="isEffect != null">
        IS_EFFECT = #{isEffect,jdbcType=VARCHAR},
      </if>
      <if test="isStart != null">
        IS_START = #{isStart,jdbcType=VARCHAR},
      </if>
      <if test="taskDescribe != null">
        TASK_DESCRIBE = #{taskDescribe,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null">
        UPDATE_NAME = #{updateName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lottery.orm.bo.TSTimeTask">
    update t_s_timetask
    set CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_NAME = #{createName,jdbcType=VARCHAR},
      CRON_EXPRESSION = #{cronExpression,jdbcType=VARCHAR},
      IS_EFFECT = #{isEffect,jdbcType=VARCHAR},
      IS_START = #{isStart,jdbcType=VARCHAR},
      TASK_DESCRIBE = #{taskDescribe,jdbcType=VARCHAR},
      TASK_ID = #{taskId,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_NAME = #{updateName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_s_timetask
    where task_id = #{taskId,jdbcType=VARCHAR}
  </select>
</mapper>